$primary-color: rgb(41, 48, 63);
$primary-color-alt: darken($primary-color, 10%);

$dark-color: rgb(41, 48, 63);
$dark-color-alt: darken($dark-color, 10%);

$gray-color: rgb(148, 148, 148);

$white-color: #fff;

$thrid-color: rgb(63, 63, 63);
$thrid-color-alt: darken(rgb(63, 63, 63), 10%);

$border-color: rgba(0, 0, 0, 0.1);
$border-color-alt: rgba(0, 0, 0, 0.3);

$outline-color: rgb(255, 166, 0);
