@import "../../scss/theme/color";
@import "../../scss/base/variables";

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  &--darken {
    background-color: $dark-color;
  }
  &--darkenTransparent {
    background-color: #29303fad;
  }
  &--gray {
    background-color: $gray-color;
  }
  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-fixed;
  }
}
