.myProyectsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 1.5rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}
